* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

:root {
  --main-color: #45649c;
  --light: #e7e1da;
  --accent: #97a8c1;
  --dark: #203274;
}

main {
  background-color: var(--light);
}

header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--light);
}

h1 {
  margin-left: 10px;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  padding: 5px;
}

li a {
  text-decoration: none;
  color: var(--dark);
  border: var(--dark) solid 2px;
  padding: 5px;
  border-radius: 15px;
}

nav ul li a {
  color: var(--light);
}

#about {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#about div {
  display: flex;
  width: 100%;
  align-content: center;
  margin-left: 20px;
  margin-right: 10px;
}

#elephant-photo {
  flex: 1 1 250px;
  height: 300px;
}

#about div p {
  padding-left: 20px;
  color: var(--dark);
}

h2 {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  padding: 20px;
  width: 100%;
  color: var(--main-color);
}

#work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#work div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#work div a {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  height: 150px;
  /* background-color: var(--accent); */
  color: var(--dark);
  border: var(--dark) solid 2px;
  flex: 1 1 250px;
  justify-content: flex-end;
}

#work div a:first-child {
  flex: 100%;
  height: 250px;
}

#work div a p {
  background-color: var(--light);
  height: 30px;
  border: var(--dark) solid 1px;
  padding: 5px;
}

#project1 {
  background-image: url(../images/IMG_3698.JPG);
  background-position: center;
  background-size: cover;
}

#project2 {
  background-image: url(../images/IMG_1862.JPG);
  background-position: center;
  background-size: cover;
}

#project3 {
  background-image: url(../images/IMG_6505.jpeg);
  background-position: center;
  background-size: cover;
}

#project4 {
  background-image: url(../images/IMG_3779.JPG);
  background-position: center;
  background-size: cover;
}

#contact {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding-bottom: 20px;
}
