* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #45649c;
  --light: #e7e1da;
  --accent: #97a8c1;
  --dark: #203274;
}

header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--light);
}

h1 {
  margin-left: 10px;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  padding: 5px;
}

li a {
  text-decoration: none;
}

nav ul li a {
  color: var(--light);
  border: var(--accent) solid 2px;
  padding: 5px;
  border-radius: 15px;
}

#about-me {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#elephant-photo {
  width: 200px;
  height: auto;
}

#about-me div {
  display: flex;
  width: 100%;
  align-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

#about-me div p {
  padding-left: 20px;
}

h2 {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  padding: 20px;
  width: 100%;
}

#about-me-photo {
  display: block;
  margin-left: 20px;
}

/* #work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
} */

#work div {
  display: flex;
  width: 100%;
}

#work div a {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  height: 150px;
  background-color: var(--accent);
  color: var(--dark);
  border: var(--dark) solid 2px;
  flex: ;
}

#work div:first-child {
  flex: 100%;
}

#contact {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
